#define IDM_Demo1       1001    //  設定選單識別碼  
#define IDM_Line       1002    //  設定選單識別碼  

DODO MENU 
{
    POPUP "檔案 "
    {
      MENUITEM "&開新檔案", IDM_Demo1  
            // 請自行增加其他功能 例如: MENUITEM "&開啟舊檔", IDM_Demo11 
           // 所有想歸類在 "檔案 " 底下的功能選項都寫在這邊 
    }
    POPUP "編輯"
    {
      MENUITEM "&選取", IDM_Demo2
    }
    POPUP "求助"
    {
      MENUITEM "&聯繫我們", IDM_Demo2
    }
}
